<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png"  href="/favicon.ico?v=1.1">

    <title>Modern Ancient</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.local.css">  

    <script src="https://use.fontawesome.com/167cefad62.js"></script>

</head>
  <body>

      {{ content }}
    
  <footer id="about" class="responsive-blog-footer">

    <div class="grid-container grid-container-padded">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-4">
              <img src="/grfx/logo.png">
        </div>
        <div class="cell medium-8 about-section">
          <p>Kyle Cunningham uses painting and printmaking to explore the nuances of life forced upon us in this post digital world.  His work explores time and memory’s subtle coloring of our life experience and the ways in which these shape our psyche. Varied subjects range from still life objects significant to his own past to imagined futures where the animal kingdom has borrowed our anthropological technology so all creatures may face the future on an even playing field.  Uniting his work is the idea that we are all connected in this world; the distinction between “human” and “nature” is less than imagined as we are all sharing this same moment.
          </p>
            <p>  Kyle lives with his partner Jeannie upon the banks of the Rio Grande on the edge of the great Gila Wilderness in Truth or Consequences, NM.  Momentarily tethered but nomads at heart they garden and make things. 
          </p>

          <div class="grid-x">
<div class="social-footer cell small-4 text-center">
              <a href="https://instagram.com/ghostanalog">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://facebook.com/themodernancient">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://newtribetextiles.etsy.com">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              </a>
            </div>
          </div> 
          <div class="cell small-12 mailing-container">
            <h4 class="mailing-list">For Occasional & Random Emails:</h4>
            <input type="text" placeholder="Email Address">
            <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
          </div>

        </div>
      </div>
    </div>
    <div id="contact" class="grid_x">
      <div class="cell small-12">
        <h1>Contact</h1>
      </div>
    </div>
</footer>

    
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
